.Img{
    display: flex;
    justify-content: center;

    svg{
        color: #8ce99a;
    }
}

.tag{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    color: #8ce99a;
}